* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: @black;
	text-align: left;
	background: #FBFBFB;
	transition: all 0.6s;
}

.clear{
	clear: both;
}

.spacer{
	height: 70px;
}

.dev{
	background: #F9F9F9;
	padding: 10px;
	p{
			font-size: 10px;
			text-align: center;
			color: #282828;
			a{
					text-decoration: none;
					color: #282828;
					font-weight: bold;
					span{
							color: #00FF85;
					}
			}
	}
}

text-area{
	font-family: 'Montserrat', sans-serif;
}

/***** DEFINIÇÕES ******/

@black: #707070;
@white: #fff;
@green: #006954;
@lightgreen: #00C29C;
@yellow: #F0AD0A;
@grey: #A1ABBE;
@pink: #EA8974;

.content{
	width: 1080px;
	margin: 0px auto;
}

::selection {
	background: @yellow;
	color: @white;
}
::-moz-selection {
	background: @yellow;
}

a{
	text-decoration: none;
	color: @black;
	transition: all ease 0.2s;
}
a:hover{
	color: @yellow;
}

.singlelink{
	color: @lightgreen;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 20px;
	display: inline-block;
}

p.btn{
	a{
		color: @white;
	}
}

.btn{
	font-size: 14px;
	text-align: center;
	display: table;
	border-radius: 5px;
	color: @white;
	padding: 10px 15px;
	background: @yellow;
	border: 2px solid @yellow;
	cursor: pointer;
	font-weight: bold;
	i{
		margin-right: 8px;
	}
}
.btn:hover{
	background: @green;
	color: @yellow;
	border-color: @green;
}

.btn.center{
	margin: 0px auto;
}

.btn.border{
	background: none;
	border: 2px solid @white;
	color: @white;
}
.btn.border:hover{
	color: @white;
	background: @yellow;
	border-color: @yellow;
}

.btn.bordergreen{
	background: none;
	border: 2px solid @green;
	color: @green;
}
.btn.bordergreen:hover{
	color: @white;
	background: @yellow;
	border-color: @yellow;
}

.btn.green{
	background: @green;
	border: 2px solid @green;
	color: @white;
}
.btn.green:hover{
	color: @white;
	background: @yellow;
	border-color: @yellow;
}

.btn.bottom{
	background: none;
	border: none;
	border-radius: 0px;
	border-bottom: 2px solid @green;
	color: @green;
}
.btn.bottom:hover{
	color: @white;
	background: @yellow;
	border-color: @yellow;
}

#cover {
	position: fixed;
	height: 100%;
	width: 100%;
	top:0;
	left: 0;
	background: #fff;
	z-index:99999;
	background-size: 100px;
	transition: all ease 0.2s;
}

.breadcrumb{
	font-size: 12px;
	margin: 30px 0px 20px 0px;
	position: relative;
	z-index: 10;
	color: @green;
	text-align: center;
	a{
		color: @green;
		&:hover{
			color: @yellow;
		}
	}
}

.wpcf7-form{
	margin-top: 30px;
	label{
		font-weight: bold;
	}
	input,select,textarea{
		font-weight: normal;
		width: 100%;
		padding: 10px 0px 10px 10px;
		border-radius: 5px;
		border: 1px solid #cecece;
		margin-bottom: 20px;
	}
	input[type=submit]{
			float: right;
			font-size: 14px;
			text-align: center;
			display: table;
			border-radius: 5px;
			color: @white;
			padding: 10px 30px;
			background: @yellow;
			cursor: pointer;
			font-family: 'News Cycle', sans-serif;
			font-weight: bold;
			border: none;
			width: auto;
			margin-top: 20px;
			transition: all ease 0.2s;
	}
	input[type=submit]:hover{
		background: @yellow;
		color: @white;
	}
}

.sectitle{
		font-size: 28px;
		line-height: 32px;
		color: @green;
		text-align: center;
		margin-bottom: 10px;
		&:after{
			content: '';
			display: block;
			width: 100px;
			height: 3px;
			background: @pink;
			margin: 20px auto 0px auto;
		}
}

.secsubtitle{
	//font-weight: bold;
	font-size: 14px;
	padding: 0px 30px;
	text-align: center;
	margin: 20px 0px 30px 0px;
}

.pagetitle{
	font-size: 38px;
	margin-bottom: 20px;
	text-align: center;
}

.subtitle{
	font-size: 14px;
	text-align: center;
	line-height: 24px;
	&:after{
		content: '';
		display: block;
		width: 100px;
		height: 3px;
		background: @pink;
		margin: 20px auto 0px auto;
	}
}

//

.preheader{
	background: @green;
	padding: 10px 0px 12px 0px;
	//text-align: right;
	.idioma{
		display: none;
	}
	.btn{
		padding: 5px 20px;
		display: inline;
	}
	.nav{
		float: left;
		p{
			font-size: 12px;
			display: inline-block;
			color: @white;
			margin-right: 10px;
			cursor: pointer;
			transition: all ease 0.2s;
			span{
				padding: 3px 6px;
				background: @white;
				color: @green;
			}
			&:hover{
				color: @yellow;
			}
		}
	}
	.access{
		float: right;
		font-size: 12px;
		color: @white;
		font-weight: bold;
		margin-top: 5px;
		i{
			margin: 0px 10px;
		}
	}
}

.idioma{
	float: right;
	margin-left: 30px;
	margin-top: 25px;
	.lang-item::marker{
		display: none;
		font-size: 0px;
	}
	.lang-item{
		display: inline-block;
		margin-left: 5px;
		a{
			font-weight: bold;
			color: @green;
			font-size: 14px;
			text-transform: uppercase;
			&:hover,
			&.current-lang{
				color: @yellow;
			}
		}
		&.current-lang{
			a{
				color: @yellow;
			}
		}
	}
}

header{
	padding: 20px 0px 15px 0px;
	background: @white;
	// .content{
	// 	display: flex;
	// 	flex-wrap: wrap;
	// 	justify-content: space-between;
	// }
	.logo.logobr{
		a{
			background: url('../images/logo-colansa-pt.png') no-repeat center center;
			background-size: contain;
		}
	}
	.logo.logoes{
		a{
			background: url('../images/logo-colansa-es.png') no-repeat center center;
			background-size: contain;
		}
	}
	.logo{
		float: left;
		a{
			display: block;
			width: 320px;
			height: 70px;
			font-size: 0px;
			
		}
	}
	#menumobile,
	#closemenumobile{
		display: none;
	}
	.menu{
		list-style-type: none;
		margin-top: 25px;
		float: right;
		li{
			display: inline-block;
			margin-left: 25px;
			a{
				font-size: 16px;
				font-weight: bold;
				color: @green;
				&:hover{
					color: @yellow;
				}
			}
			&.active{
				border-bottom: 1px solid @yellow;
				> a{
					color: @yellow;
				}
			}

			&.menu-item-has-children {
			    position: relative;

				> .sub-menu {
				    /*display: flex;*/
				    display: none;
				    flex-direction: column;

				    position: absolute;
				    top: 100%;
				    left: -10px;

				    padding: 10px;
				    background-color: white;
				    
				    > li {
					    margin-left: 0;

					    & + li {
    						margin-top: 10px;
					    }
					}
				}

			    &:hover > .sub-menu {
				    display: flex;
				}
			}
		}
	}
}

footer{
	padding: 300px 5vw 50px 5vw;
	margin-top: 80px;
	background: url('../images/footer-colansa.svg') no-repeat center top;
	.content{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.col{
			width: 30%;
			color: @white;
			.redes{
				margin-top: 70px;
				a{
					color: @white;
					margin-right: 20px;
					&:hover{
						color: @yellow;
					}
				}
			}
			.logo{
				a{
					display: block;
					width: 300px;
					height: 70px;
					background: url('../images/logo-colansa-white.png') no-repeat center center;
					font-size: 0px;
					margin-bottom: 50px;
					background-size: contain;
				}
			}
			p{
				font-size: 12px;
				line-height: 22px;
			}
			p.footitle{
				margin-top: 120px;
			}
			ul{
				list-style-type: none;
				margin-top: 120px;
				li{
					font-size: 14px;
					margin-bottom: 10px;
					a{
						color: @white;
						&:hover{
							color: @yellow;
						}
					}
				}
			}
		}
	}
}


//

.slider{
	margin-bottom: 50px;
	// .slide:before{
	// 	width: 100%;
	// 	height: 100%;
	// 	content: '';
	// 	background: @lightgreen;
	// 	mix-blend-mode: multiply;
	// 	display: block;
	// 	position: absolute;
	// 	top: 0px;
	// 	left: 0px;
	// }
	.slide:after{
		display: block;
		width: 100%;
		height: 220px;
		background: url('../images/bottom-slider.svg') no-repeat center top;
		content: '';
		background-size: cover;
		position: absolute;
		bottom: 0px;
		left: 0px;
	}
	.slide{
		position: relative;
		text-align: center;
		padding: 100px 0px 300px 0px;
		.text{
			max-width: 900px;
			margin: 0px auto;
			background-color: rgba(0,105,82,0.7);
			padding: 20px 0px;
		}
		h2{
			color: @white;
			font-size: 48px;
			line-height: 58px;
			margin-bottom: 20px;
			position: relative;
		}
		p{
			color: @white;
			max-width: 90%;
			margin: 20px auto;
			position: relative;
		}
		p.btn{
			margin-top: 40px;
			a{
				color: @white;
			}
		}
	}
	.slick-dots{
		text-align: center;
		margin-top: -40px;
		position: relative;
		li{
			display: inline;
			margin: 0px 5px;
			button{
				border: 2px solid @green;
				background: @green;
				font-size: 0px;
				width: 15px;
				height: 15px;
				border-radius: 30px;
				cursor: pointer;
			}
			&.slick-active{
				button{
					background: none
				}
			}
		}
	}
}

.abouthome{
	margin: 50px 0px 80px 0px;
	img{
		width: 40%;
		float: right;
	}
	.text{
		width: 50%;
		float: left;
		h2{
			font-weight: bold;
			text-transform: uppercase;
			font-size: 14px;
			color: @yellow;
			letter-spacing: 2px;
		}
		.title{
			color: @green;
			font-size: 36px;
			margin: 20px 0px 20px 0px;
			font-weight: bold;
		}
		p{
			font-size: 14px;
			line-height: 24px;
		}
	}
}

.atuacaohome{
	margin: 50px 0px 80px 0px;
	img{
		width: 45%;
		float: left;
	}
	.text{
		width: 50%;
		float: right;
		h2{
			font-weight: bold;
			text-transform: uppercase;
			font-size: 14px;
			color: @yellow;
			letter-spacing: 2px;
		}
		.title{
			color: @green;
			font-size: 36px;
			margin: 20px 0px 20px 0px;
			font-weight: bold;
		}
		p{
			margin-bottom: 12px;
			font-size: 14px;
			line-height: 24px;
			i{
				color: @yellow;
			}
		}
	}
}

.partners{
	background: #EFEFEF;
	padding: 50px 0px;
}

.partnersinner{
	margin-top: 70px;
}

.newsletter{
	padding: 80px 0px 0px 0px;
	form{
		text-align: center;
		margin-top: 40px;
		input{
			padding: 10px;
			border: none;
			margin: 0px 10px;
			border-radius: 5px;
			font-family: 'Montserrat', sans-serif;
		}
		input[type=text],
		input[type=email]{
			width: 400px;
			border: 1px solid @green;
		}
		input[type=submit]{
			background: @green;
			color: @white;
			font-weight: bold;
			font-family: 'Montserrat', sans-serif;
			cursor: pointer;
			padding: 10px 20px;
		}
		input[type=submit]:hover{
			background: @yellow
		}
	}
}

.partnerlist{
	margin: 50px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: 50px;
}

.partnercard.center{
		margin: 40px auto 0px auto;
}

.partnercard{
	width: 200px;
	margin-bottom: 30px;
	img{
		width: 200px;
		height: 200px;
		object-fit: cover;
		border-radius: 200px;
	}
	h2{
		margin-top: 20px;
		font-size: 18px;
		text-align: center;
	}
	p{
		font-size: 14px;
		text-align: center;
		margin-top: 10px;
	}
}

// INTERNAS

.maincontent{
	margin-top: 50px;
	h2,h3,h4,h5,h6{
		margin-bottom: 15px;
		margin-top: 30px;
		border-left: 5px solid @yellow;
		padding-left: 12px;
		color: @lightgreen;
	}
	p{
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 15px;
	}
	ul,ol{
		margin: 0px 0px 30px 40px;
    font-size: 16px;
		line-height: 26px;
		li{
			margin-bottom: 10px;
		}
	}
	.wp-block-image{
		img{
			height: auto !important;
		}
	}
}

.fourofour{
	img{
		width: 50%;
		float: left;
		margin-top: 30px;
		mix-blend-mode: multiply;
	}
	.text{
		width: 45%;
		float: right;
		padding-top: 80px;
		h1{
			color: @green;
		}
		p{
			font-size: 16px;
			line-height: 26px;
			margin-bottom: 10px;
		}
		a{
			margin-top: 15px;
		}
	}
}

// BLOG

.homeblog{
	margin: 50px 0px 80px 0px;
	display: flex;
	flex-wrap: wrap;
	//justify-content: space-between;
}

.librarycard{
	width: 300px;
	margin: 30px;
	img{
		width: 100%;
		height: 200px;
		object-fit: cover;
		margin-bottom: 0px;
		border-radius: 2px;
	}
	h2{
		text-align: center;
		font-size: 18px;
	}
	.category{
		text-align: center;
		text-transform: uppercase;
		font-size: 12px;
		color: @lightgreen;
		margin: 10px 0px 10px 0px;
	}
	ul{
		margin: 10px 0px 10px 0px;
		list-style-type: none;
		li{
			text-align: center;
			text-transform: uppercase;
			font-size: 12px;
		}
	}
	.singlelink{
		margin: 20px auto 0px auto;
		display: block;
		text-align: center;
	}
}

.eventslist{
	display: flex;
	flex-wrap: wrap;
	//justify-content: space-between;
}

.eventcard{
	width: 300px;
	margin: 40px 28px;
	img{
		width: 100%;
		height: 200px;
		object-fit: cover;
		margin-bottom: 0px;
		border-radius: 2px;
	}
	h2{
		text-align: center;
		font-size: 18px;
	}
	.category{
		text-align: center;
		text-transform: uppercase;
		font-size: 12px;
		color: @lightgreen;
		margin: 10px 0px 10px 0px;
	}
	p.data{
		text-align: center;
		text-transform: uppercase;
		font-size: 12px;
		margin: 10px 0px 10px 0px;
	}
	ul{
		margin: 10px 0px 10px 0px;
		list-style-type: none;
		li{
			text-align: center;
			text-transform: uppercase;
			font-size: 12px;
		}
	}
	.btn{
		margin: 20px auto 0px auto;
	}
}

//

.slick-dots{
	list-style-type: none;
	text-align: center;
	li.slick-active{
		button{
			background: @yellow;
		}
	}
	li{
		display: inline-block;
		margin: 0px 10px;
		button{
			cursor: pointer;
			font-size: 0px;
			width: 20px;
			height: 20px;
			background: @green;
			border: none;
			border-radius: 40px;
			transition: all ease 0.2s;
			&:hover{
				background: @yellow;
			}
		}
	}
}

// 

.singlevents{
	.data{
		font-size: 16px;
		text-align: center;
		color: @green;
		font-weight: bold;
		margin-bottom: 50px;
	}
	.destacada{
		width: 50%;
		float: left;
	}
	.text{
		width: 45%;
		float: right;
		p{
			font-size: 16px;
			line-height: 26px;
			margin-bottom: 10px;
		}
		a{
			margin-top: 15px;
		}
	}
	.insc{
		margin-top: 50px;
		display: none;
	}
}

.singlelibrary{
	.cat{
		font-size: 16px;
		text-align: center;
		color: @green;
		font-weight: bold;
		margin-bottom: 50px;
	}
	.text{
		p{
			font-size: 16px;
			line-height: 26px;
			margin-bottom: 10px;
		}
		.wp-block-file{
			a{
				display: block;
				text-align: center;
				margin-bottom: 20px;
			}
			.wp-block-file__button{
				font-size: 14px;
				text-align: center;
				display: table;
				border-radius: 5px;
				color: @white;
				padding: 10px 15px;
				background: @yellow;
				border: 2px solid @yellow;
				cursor: pointer;
				font-weight: bold;
				margin: 0px auto;
				i{
					margin-right: 8px;
				}
				&:hover{
					background: @green;
					color: @yellow;
					border-color: @green;
				}
			}
		}
	}
}

#forms-events form {
	margin-bottom: 50px;
	text-align: center;
}

#forms-library{
	form{
		text-align: center;
	}
}

.input-library {
	width: 28%;
	height: 35px;
	margin-right: 30px;
	padding: 10px;
	border-radius: 5px;
	border: 1.5px solid @lightgreen;
	font-family: 'Montserrat', sans-serif;
}
.select-library {
	width: 25%;
	height: 35px;
	margin-right: 30px;
	padding: 8px;
	color: @green;
	font-weight: bold;
	border-radius: 5px;
	border: 1.5px solid @lightgreen;
	font-family: 'Montserrat', sans-serif;
}
.btn-form {
	height: 40px;
	width: 12%;
	border-radius: 10px;
	border: 0;
	background-color: @green;
	color: white;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	transition: all ease 0.2s;
}
.btn-form:hover {
	background-color: @yellow;
}



/************ ACESSIBILIDADE *******************/

@amarelo: #fffc00;
@azul: #00FFFF;
@preto: #000000;
@branco: #fff;

body.aumentar{
    h2{
		font-size: 38px;
	}
	p{
		font-size: 24px;
		line-height: 34px;
    }
    .inscricao form label, .inscricao form p{
        font-size: 24px;
		line-height: 34px;
    }
    .inscricao form .litle input{
        margin-bottom: 110px
    }
    .inscricao form .litle{
        height: auto !important;
    }
}

body.constrasteon{
    background: #000;
    .contraste{
        svg{
            path{
                fill: @amarelo;
            }
        }
    }
    .contraste:hover{
        svg{
            path{
                fill: @azul;
            }
        }
    }
    svg{
        path{
            fill: @branco;
        }
    }
	p,h1,h2,h3,h4,h5,h6,.breadcrumb,ul li{
		color: @branco !important;
	}
	a{
		color: @amarelo !important;
    }
    a:hover{
        color: @azul !important;
	}

    .btn,.btn.green,.btn-form,.newsletter form input[type=submit]{
        background: @preto;
				border: 2px solid @amarelo;
        color: @amarelo;
    }

    .btn:hover{
        color: @azul;
    }

		header{
			background: @preto;
			.logo.logoes a{
				background: url('../images/logo-colansa-es-white.png') no-repeat center center;
				background-size: contain;
			}
			.logo.logobr a{
				background: url('../images/logo-colansa-pt-white.png') no-repeat center center;
				background-size: contain;
			}
			.logo.logoen a{
				background: url('../images/logo-colansa-en-white.png') no-repeat center center;
				background-size: contain;
			}
			#menu{
				a{
					color: @amarelo !important;
				}
			}
		}
	
		.slider .slide:after{
			background: url('../images/bottom-slider-contraste.svg') no-repeat center top;
			background-size: cover;
		}

		footer{
			background-size: cover;
			background: url('../images/footer-colansa-contraste.svg') no-repeat center top;
		}

    .gov,
    .preheader,
    .header,
    .slider .slide .text,
    .eeaonline,
    .mentoriaonline,
    .curtas,
    .eeaonlinerel,
    .apoierel,
    .quemsomosrel,
		.partners,
    .listacurtas,.patrocinadores,
    .regulamento .perguntas .answer,
    .inscricao,
    .inscricao form .dadospessoais,
    .inscricao form .dadosfamiliares,
    .inscricao form .dadosinformacoes,
    .inscricao form .dadosescolares{
        background: @preto !important;
    }

    .inscricao .navform p{
        background: @preto !important;
        border-bottom: 2px solid @amarelo;
    }

    .eeaonline:after,
    .listacurtas:before,
    .listacurtas:after,
    .patrocinadores:before,
    .patrocinadores:after{
        display: none;
	}
	
	.sectitle{
		color: @white !important;
	}

	.secsubtitle{
		color: @white !important;
	}

	.partnercard{
		h2{
			color: @preto !important;
		}
		p{
			color: @preto !important;
		}
	}

	.partners{

	}

	.sectitle:after{
		background: @amarelo;
	}

	footer .content .col p {
		color: @amarelo !important;
	}

}

.contraste{
	cursor: pointer;
}

.aumentar{
	cursor: pointer;
}

