* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #707070;
  text-align: left;
  background: #FBFBFB;
  transition: all 0.6s;
}
.clear {
  clear: both;
}
.spacer {
  height: 70px;
}
.dev {
  background: #F9F9F9;
  padding: 10px;
}
.dev p {
  font-size: 10px;
  text-align: center;
  color: #282828;
}
.dev p a {
  text-decoration: none;
  color: #282828;
  font-weight: bold;
}
.dev p a span {
  color: #00FF85;
}
text-area {
  font-family: 'Montserrat', sans-serif;
}
/***** DEFINIÇÕES ******/
.content {
  width: 1080px;
  margin: 0px auto;
}
::selection {
  background: #F0AD0A;
  color: #fff;
}
::-moz-selection {
  background: #F0AD0A;
}
a {
  text-decoration: none;
  color: #707070;
  transition: all ease 0.2s;
}
a:hover {
  color: #F0AD0A;
}
.singlelink {
  color: #00C29C;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 20px;
  display: inline-block;
}
p.btn a {
  color: #fff;
}
.btn {
  font-size: 14px;
  text-align: center;
  display: table;
  border-radius: 5px;
  color: #fff;
  padding: 10px 15px;
  background: #F0AD0A;
  border: 2px solid #F0AD0A;
  cursor: pointer;
  font-weight: bold;
}
.btn i {
  margin-right: 8px;
}
.btn:hover {
  background: #006954;
  color: #F0AD0A;
  border-color: #006954;
}
.btn.center {
  margin: 0px auto;
}
.btn.border {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}
.btn.border:hover {
  color: #fff;
  background: #F0AD0A;
  border-color: #F0AD0A;
}
.btn.bordergreen {
  background: none;
  border: 2px solid #006954;
  color: #006954;
}
.btn.bordergreen:hover {
  color: #fff;
  background: #F0AD0A;
  border-color: #F0AD0A;
}
.btn.green {
  background: #006954;
  border: 2px solid #006954;
  color: #fff;
}
.btn.green:hover {
  color: #fff;
  background: #F0AD0A;
  border-color: #F0AD0A;
}
.btn.bottom {
  background: none;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #006954;
  color: #006954;
}
.btn.bottom:hover {
  color: #fff;
  background: #F0AD0A;
  border-color: #F0AD0A;
}
#cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 99999;
  background-size: 100px;
  transition: all ease 0.2s;
}
.breadcrumb {
  font-size: 12px;
  margin: 30px 0px 20px 0px;
  position: relative;
  z-index: 10;
  color: #006954;
  text-align: center;
}
.breadcrumb a {
  color: #006954;
}
.breadcrumb a:hover {
  color: #F0AD0A;
}
.wpcf7-form {
  margin-top: 30px;
}
.wpcf7-form label {
  font-weight: bold;
}
.wpcf7-form input,
.wpcf7-form select,
.wpcf7-form textarea {
  font-weight: normal;
  width: 100%;
  padding: 10px 0px 10px 10px;
  border-radius: 5px;
  border: 1px solid #cecece;
  margin-bottom: 20px;
}
.wpcf7-form input[type=submit] {
  float: right;
  font-size: 14px;
  text-align: center;
  display: table;
  border-radius: 5px;
  color: #fff;
  padding: 10px 30px;
  background: #F0AD0A;
  cursor: pointer;
  font-family: 'News Cycle', sans-serif;
  font-weight: bold;
  border: none;
  width: auto;
  margin-top: 20px;
  transition: all ease 0.2s;
}
.wpcf7-form input[type=submit]:hover {
  background: #F0AD0A;
  color: #fff;
}
.sectitle {
  font-size: 28px;
  line-height: 32px;
  color: #006954;
  text-align: center;
  margin-bottom: 10px;
}
.sectitle:after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background: #EA8974;
  margin: 20px auto 0px auto;
}
.secsubtitle {
  font-size: 14px;
  padding: 0px 30px;
  text-align: center;
  margin: 20px 0px 30px 0px;
}
.pagetitle {
  font-size: 38px;
  margin-bottom: 20px;
  text-align: center;
}
.subtitle {
  font-size: 14px;
  text-align: center;
  line-height: 24px;
}
.subtitle:after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background: #EA8974;
  margin: 20px auto 0px auto;
}
.preheader {
  background: #006954;
  padding: 10px 0px 12px 0px;
}
.preheader .content {
  display: flex;
  justify-content: space-between;
}
.preheader .redes a {
  color: white;
}
.preheader .idioma {
  display: none;
}
.preheader .btn {
  padding: 5px 20px;
  display: inline;
}
.preheader .nav {
  float: left;
}
.preheader .nav p {
  font-size: 12px;
  display: inline-block;
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
  transition: all ease 0.2s;
}
.preheader .nav p span {
  padding: 3px 6px;
  background: #fff;
  color: #006954;
}
.preheader .nav p:hover {
  color: #F0AD0A;
}
.preheader .access {
  float: right;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  margin-top: 5px;
}
.preheader .access i {
  margin: 0px 10px;
}
.idioma {
  float: right;
  margin-left: 30px;
  margin-top: 25px;
}
.idioma .lang-item::marker {
  display: none;
  font-size: 0px;
}
.idioma .lang-item {
  display: inline-block;
  margin-left: 5px;
}
.idioma .lang-item a {
  font-weight: bold;
  color: #006954;
  font-size: 14px;
  text-transform: uppercase;
}
.idioma .lang-item a:hover,
.idioma .lang-item a.current-lang {
  color: #F0AD0A;
}
.idioma .lang-item.current-lang a {
  color: #F0AD0A;
}
header {
  padding: 20px 0px 15px 0px;
  background: #fff;
}
header .logo.logobr a {
  background: url('../images/logo-colansa-pt.png') no-repeat center center;
  background-size: contain;
}
header .logo.logoes a {
  background: url('../images/logo-colansa-es.png') no-repeat center center;
  background-size: contain;
}
header .logo {
  float: left;
}
header .logo a {
  display: block;
  width: 320px;
  height: 70px;
  font-size: 0px;
}
header #menumobile,
header #closemenumobile {
  display: none;
}
header .menu {
  list-style-type: none;
  margin-top: 25px;
  float: right;
}
header .menu li {
  display: inline-block;
}
header .menu > li {
  margin-left: 25px;
}
header .menu li a {
  font-size: 16px;
  font-weight: bold;
  color: #006954;
}
header .menu li a:hover {
  color: #F0AD0A;
}
header .menu li.active {
  border-bottom: 1px solid #F0AD0A;
}
header .menu li.active > a {
  color: #F0AD0A;
}
header .menu > li.menu-item-has-children {
  position: relative;
}
header .menu > li.menu-item-has-children > .sub-menu {
  /*display: flex;*/
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 11;
  top: 100%;
  left: -10px;
  padding: 10px;
  background-color: white;
}
header .menu > li.menu-item-has-children > .sub-menu > li {
  margin-left: 0;
}
header .menu > li.menu-item-has-children > .sub-menu > li + li {
  margin-top: 10px;
}
header .menu > li.menu-item-has-children:hover > .sub-menu {
  display: flex;
}
header .menu > li.menu-item-has-children > .sub-menu > li .sub-menu {
  padding-top: 10px;
  padding-bottom: 10px;
}
header .menu > li.menu-item-has-children > .sub-menu > li .sub-menu li {
  margin-left: 10px;
}
footer {
  padding: 300px 5vw 50px 5vw;
  margin-top: 80px;
  background: url('../images/footer-colansa.svg') no-repeat center top;
}
footer .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content .col {
  width: 30%;
  color: #fff;
}
footer .content .col .redes {
  margin-top: 70px;
}
footer .content .col .redes a {
  color: #fff;
  margin-right: 20px;
}
footer .content .col .redes a:hover {
  color: #F0AD0A;
}
footer .content .col .logo a {
  display: block;
  width: 300px;
  height: 70px;
  background: url('../images/logo-colansa-white.png') no-repeat center center;
  font-size: 0px;
  margin-bottom: 50px;
  background-size: contain;
}
footer .content .col p {
  font-size: 12px;
  line-height: 22px;
}
footer .content .col p.footitle {
  margin-top: 120px;
}
footer .content .col ul {
  list-style-type: none;
  margin-top: 120px;
}
footer .content .col ul li {
  font-size: 14px;
  margin-bottom: 10px;
}
footer .content .col ul li a {
  color: #fff;
}
footer .content .col ul li a:hover {
  color: #F0AD0A;
}
.slider {
  margin-bottom: 50px;
}
.slider .slide:after {
  display: block;
  width: 100%;
  height: 220px;
  background: url('../images/bottom-slider.svg') no-repeat center top;
  content: '';
  background-size: cover;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.slider .slide {
  position: relative;
  text-align: center;
  padding: 100px 0px 300px 0px;
}
.slider .slide .text {
  max-width: 900px;
  margin: 0px auto;
  background-color: rgba(0, 105, 82, 0.7);
  padding: 20px 0px;
}
.slider .slide h2 {
  color: #fff;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 20px;
  position: relative;
}
.slider .slide p {
  color: #fff;
  max-width: 90%;
  margin: 20px auto;
  position: relative;
}
.slider .slide p.btn {
  margin-top: 40px;
}
.slider .slide p.btn a {
  color: #fff;
}
.slider .slick-dots {
  text-align: center;
  margin-top: -40px;
  position: relative;
}
.slider .slick-dots li {
  display: inline;
  margin: 0px 5px;
}
.slider .slick-dots li button {
  border: 2px solid #006954;
  background: #006954;
  font-size: 0px;
  width: 15px;
  height: 15px;
  border-radius: 30px;
  cursor: pointer;
}
.slider .slick-dots li.slick-active button {
  background: none;
}
.abouthome {
  margin: 50px 0px 80px 0px;
}
.abouthome img {
  width: 40%;
  float: right;
}
.abouthome .text {
  width: 50%;
  float: left;
}
.abouthome .text h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  color: #F0AD0A;
  letter-spacing: 2px;
}
.abouthome .text .title {
  color: #006954;
  font-size: 36px;
  margin: 20px 0px 20px 0px;
  font-weight: bold;
}
.abouthome .text p {
  font-size: 14px;
  line-height: 24px;
}
.atuacaohome {
  margin: 50px 0px 80px 0px;
}
.atuacaohome img {
  width: 45%;
  float: left;
}
.atuacaohome .text {
  width: 50%;
  float: right;
}
.atuacaohome .text h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  color: #F0AD0A;
  letter-spacing: 2px;
}
.atuacaohome .text .title {
  color: #006954;
  font-size: 36px;
  margin: 20px 0px 20px 0px;
  font-weight: bold;
}
.atuacaohome .text p {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 24px;
}
.atuacaohome .text p i {
  color: #F0AD0A;
}
.partners {
  background: #EFEFEF;
  padding: 50px 0px;
}
.partnersinner {
  margin-top: 70px;
}
.newsletter {
  padding: 80px 0px 0px 0px;
}
.newsletter form {
  text-align: center;
  margin-top: 40px;
}
.newsletter form input {
  padding: 10px;
  border: none;
  margin: 0px 10px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}
.newsletter form input[type=text],
.newsletter form input[type=email] {
  width: 400px;
  border: 1px solid #006954;
}
.newsletter form input[type=submit] {
  background: #006954;
  color: #fff;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  padding: 10px 20px;
}
.newsletter form input[type=submit]:hover {
  background: #F0AD0A;
}
.partnerlist {
  margin: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 50px;
}
.partnercard.center {
  margin: 40px auto 0px auto;
}
.partnercard {
  width: 200px;
  margin-bottom: 30px;
}
.partnercard img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 200px;
}
.partnercard h2 {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}
.partnercard p {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
.maincontent {
  margin-top: 50px;
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
}
.maincontent h2,
.maincontent h3,
.maincontent h4,
.maincontent h5,
.maincontent h6 {
  margin-bottom: 15px;
  margin-top: 30px;
  border-left: 5px solid #F0AD0A;
  padding-left: 12px;
  color: #00C29C;
}
.maincontent p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}
.maincontent ul,
.maincontent ol {
  margin: 0px 0px 30px 40px;
  font-size: 16px;
  line-height: 26px;
}
.maincontent ul li,
.maincontent ol li {
  margin-bottom: 10px;
}
.maincontent .wp-block-image img {
  height: auto !important;
}
.fourofour img {
  width: 50%;
  float: left;
  margin-top: 30px;
  mix-blend-mode: multiply;
}
.fourofour .text {
  width: 45%;
  float: right;
  padding-top: 80px;
}
.fourofour .text h1 {
  color: #006954;
}
.fourofour .text p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 10px;
}
.fourofour .text a {
  margin-top: 15px;
}
.homeblog {
  margin: 50px 0px 80px 0px;
  display: flex;
  flex-wrap: wrap;
}
.librarycard {
  width: 300px;
  margin: 30px;
}
.librarycard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 0px;
  border-radius: 2px;
}
.librarycard h2 {
  text-align: center;
  font-size: 18px;
}
.librarycard .category {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #00C29C;
  margin: 10px 0px 10px 0px;
}
.librarycard ul {
  margin: 10px 0px 10px 0px;
  list-style-type: none;
}
.librarycard ul li {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}
.librarycard .singlelink {
  margin: 20px auto 0px auto;
  display: block;
  text-align: center;
}
.eventslist {
  display: flex;
  flex-wrap: wrap;
}
.eventcard {
  width: 300px;
  margin: 40px 28px;
}
.eventcard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 0px;
  border-radius: 2px;
}
.eventcard h2 {
  text-align: center;
  font-size: 18px;
}
.eventcard .category {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #00C29C;
  margin: 10px 0px 10px 0px;
}
.eventcard p.data {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  margin: 10px 0px 10px 0px;
}
.eventcard ul {
  margin: 10px 0px 10px 0px;
  list-style-type: none;
}
.eventcard ul li {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}
.eventcard .btn {
  margin: 20px auto 0px auto;
}
.slick-dots {
  list-style-type: none;
  text-align: center;
}
.slick-dots li.slick-active button {
  background: #F0AD0A;
}
.slick-dots li {
  display: inline-block;
  margin: 0px 10px;
}
.slick-dots li button {
  cursor: pointer;
  font-size: 0px;
  width: 20px;
  height: 20px;
  background: #006954;
  border: none;
  border-radius: 40px;
  transition: all ease 0.2s;
}
.slick-dots li button:hover {
  background: #F0AD0A;
}
.singlevents .data {
  font-size: 16px;
  text-align: center;
  color: #006954;
  font-weight: bold;
  margin-bottom: 50px;
}
.singlevents .destacada {
  width: 50%;
  float: left;
}
.singlevents .text {
  width: 45%;
  float: right;
}
.singlevents .text p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 10px;
}
.singlevents .text a {
  margin-top: 15px;
}
.singlevents .insc {
  margin-top: 50px;
  display: none;
}
.singlelibrary .cat {
  font-size: 16px;
  text-align: center;
  color: #006954;
  font-weight: bold;
  margin-bottom: 50px;
}
.singlelibrary .text p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 10px;
}
.singlelibrary .text .wp-block-file a {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
.singlelibrary .text .wp-block-file .wp-block-file__button {
  font-size: 14px;
  text-align: center;
  display: table;
  border-radius: 5px;
  color: #fff;
  padding: 10px 15px;
  background: #F0AD0A;
  border: 2px solid #F0AD0A;
  cursor: pointer;
  font-weight: bold;
  margin: 0px auto;
}
.singlelibrary .text .wp-block-file .wp-block-file__button i {
  margin-right: 8px;
}
.singlelibrary .text .wp-block-file .wp-block-file__button:hover {
  background: #006954;
  color: #F0AD0A;
  border-color: #006954;
}
#forms-events form {
  margin-bottom: 50px;
  text-align: center;
}
#forms-library form {
  text-align: center;
}
.input-library {
  width: 28%;
  height: 35px;
  margin-right: 30px;
  padding: 10px;
  border-radius: 5px;
  border: 1.5px solid #00C29C;
  font-family: 'Montserrat', sans-serif;
}
.select-library {
  width: 25%;
  height: 35px;
  margin-right: 30px;
  padding: 8px;
  color: #006954;
  font-weight: bold;
  border-radius: 5px;
  border: 1.5px solid #00C29C;
  font-family: 'Montserrat', sans-serif;
}
.btn-form {
  height: 40px;
  width: 12%;
  border-radius: 10px;
  border: 0;
  background-color: #006954;
  color: white;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  transition: all ease 0.2s;
}
.btn-form:hover {
  background-color: #F0AD0A;
}
/************ ACESSIBILIDADE *******************/
body.aumentar h2 {
  font-size: 38px;
}
body.aumentar p {
  font-size: 24px;
  line-height: 34px;
}
body.aumentar .inscricao form label,
body.aumentar .inscricao form p {
  font-size: 24px;
  line-height: 34px;
}
body.aumentar .inscricao form .litle input {
  margin-bottom: 110px;
}
body.aumentar .inscricao form .litle {
  height: auto !important;
}
body.constrasteon {
  background: #000;
}
body.constrasteon .contraste svg path {
  fill: #fffc00;
}
body.constrasteon .contraste:hover svg path {
  fill: #00FFFF;
}
body.constrasteon svg path {
  fill: #fff;
}
body.constrasteon p,
body.constrasteon h1,
body.constrasteon h2,
body.constrasteon h3,
body.constrasteon h4,
body.constrasteon h5,
body.constrasteon h6,
body.constrasteon .breadcrumb,
body.constrasteon ul li {
  color: #fff !important;
}
body.constrasteon a {
  color: #fffc00 !important;
}
body.constrasteon a:hover {
  color: #00FFFF !important;
}
body.constrasteon .btn,
body.constrasteon .btn.green,
body.constrasteon .btn-form,
body.constrasteon .newsletter form input[type=submit] {
  background: #000000;
  border: 2px solid #fffc00;
  color: #fffc00;
}
body.constrasteon .btn:hover {
  color: #00FFFF;
}
body.constrasteon header {
  background: #000000;
}
body.constrasteon header .logo.logoes a {
  background: url('../images/logo-colansa-es-white.png') no-repeat center center;
  background-size: contain;
}
body.constrasteon header .logo.logobr a {
  background: url('../images/logo-colansa-pt-white.png') no-repeat center center;
  background-size: contain;
}
body.constrasteon header .logo.logoen a {
  background: url('../images/logo-colansa-en-white.png') no-repeat center center;
  background-size: contain;
}
body.constrasteon header #menu a {
  color: #fffc00 !important;
}
body.constrasteon .slider .slide:after {
  background: url('../images/bottom-slider-contraste.svg') no-repeat center top;
  background-size: cover;
}
body.constrasteon footer {
  background-size: cover;
  background: url('../images/footer-colansa-contraste.svg') no-repeat center top;
}
body.constrasteon .gov,
body.constrasteon .preheader,
body.constrasteon .header,
body.constrasteon .slider .slide .text,
body.constrasteon .eeaonline,
body.constrasteon .mentoriaonline,
body.constrasteon .curtas,
body.constrasteon .eeaonlinerel,
body.constrasteon .apoierel,
body.constrasteon .quemsomosrel,
body.constrasteon .partners,
body.constrasteon .listacurtas,
body.constrasteon .patrocinadores,
body.constrasteon .regulamento .perguntas .answer,
body.constrasteon .inscricao,
body.constrasteon .inscricao form .dadospessoais,
body.constrasteon .inscricao form .dadosfamiliares,
body.constrasteon .inscricao form .dadosinformacoes,
body.constrasteon .inscricao form .dadosescolares {
  background: #000000 !important;
}
body.constrasteon .inscricao .navform p {
  background: #000000 !important;
  border-bottom: 2px solid #fffc00;
}
body.constrasteon .eeaonline:after,
body.constrasteon .listacurtas:before,
body.constrasteon .listacurtas:after,
body.constrasteon .patrocinadores:before,
body.constrasteon .patrocinadores:after {
  display: none;
}
body.constrasteon .sectitle {
  color: #fff !important;
}
body.constrasteon .secsubtitle {
  color: #fff !important;
}
body.constrasteon .partnercard h2 {
  color: #000000 !important;
}
body.constrasteon .partnercard p {
  color: #000000 !important;
}
body.constrasteon .sectitle:after {
  background: #fffc00;
}
body.constrasteon footer .content .col p {
  color: #fffc00 !important;
}
.contraste {
  cursor: pointer;
}
.aumentar {
  cursor: pointer;
}
