/********** DEFINIÇÕES **********/

@black: #707070;
@white: #fff;
@green: #006954;
@lightgreen: #00C29C;
@yellow: #F0AD0A;
@grey: #A1ABBE;
@pink: #EA8974;

/********/

@media screen and (max-width: 480px){

    .content{
        width: 90%;
    }

    .pagetitle {
        font-size: 7vw;
    }

    //

    .preheader{
        text-align: center;
        .nav{
            display: none;
        }
        .idioma{
            display: block;
            float: left;
            margin: 0px;
        }
    }

    header{
        .idioma{
            display: none;
        }
        .logo{
            a{
                width: 250px;
            }
        }
        #menumobile{
            display: block;
            font-size: 38px;
            float: right;
            color: @green;
            position: absolute;
            right: 30px;
            top: 75px;
        }
        #closemenumobile{
            font-size: 38px;
            float: right;
            color: @green;
            z-index: 100;
            display: none;
            position: absolute;
            right: 30px;
            top: 75px;
            i{
                display: block;
                
            }
        }
        .menu{
            background: @green;
            width: 80%;
            position: absolute;
            left: 0px;
            top: 0px;
            height: 100%;
            z-index: 10000;
            padding: 10vh 0 0 5vw;
            margin-top: 0px;
            display: none;
            li{
                display: block;
                margin-bottom: 20px;
                border-bottom: 0px;
                a{
                    color: @white;
                    font-size: 5vw;
                    &:hover{
                        color: @yellow;
                    }
                }

                &.menu-item-has-children {

                    > .sub-menu {
                        display: flex;
                        position: static;
                        background-color: transparent;

                        > li {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }

    footer{
        background: @green;
        padding: 50px 5vw 50px 5vw;
        .content{
            .col{
                width: 100%;
                float: none;
                margin: 0px 0px 30px 0px;
                text-align: center;
                ul,p.footitle{
                    margin-top: 20px;
                }
            }
        }
    }

    //

    .slider{
        .slide:after{
            height: 100px;
            bottom: -5px;
        }
        .slide{
            padding: 100px 0px 150px 0px;
            p{
                max-width: 90%;
            }
        }
    }

    .abouthome,
    .atuacaohome{
        img{
            width: 40%;
            margin: 0px auto 20px auto;
            float: none;
            display: block;
        }
        .text{
            width: 100%;
            text-align: center;
        }
    }

    .homeblog{
        display: block;
    }

    .librarycard,
    .eventcard{
        width: 100%;
    }

    .newsletter{
        form{
            input[type=text], input[type=email]{
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }

    //

    .singlevents{
        .destacada,.text{
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .input-library {
        width: 100%;
        margin-right: 5px;
    }
    .select-library {
        position: relative;
        left: 1px;
        width: 100%;
        margin-right: 0px;
        margin-top: 10px;
    }
    .btn-form {
        width: 100%;
        margin-top: 10px;
        position: relative;
        left: 0px;
    }
    .fourofour{
        img {
            width: 95%;
        }
        .text {
            position: relative;
            left: 25%;
            width: 100%;
            float: right;
            padding-top: 80px;
        }
    }

    .btn.bordergreen {
        width: 50%;
    }

}