/********** DEFINIÇÕES **********/
/********/
@media screen and (max-width: 480px) {
  .content {
    width: 90%;
  }
  .pagetitle {
    font-size: 7vw;
  }
  .preheader {
    text-align: center;
  }
  .preheader .nav {
    display: none;
  }
  .preheader .idioma {
    display: block;
    float: left;
    margin: 0px;
  }
  header .idioma {
    display: none;
  }
  header .logo a {
    width: 250px;
  }
  header #menumobile {
    display: block;
    font-size: 38px;
    float: right;
    color: #006954;
    position: absolute;
    right: 30px;
    top: 75px;
  }
  header #closemenumobile {
    font-size: 38px;
    float: right;
    color: #006954;
    z-index: 100;
    display: none;
    position: absolute;
    right: 30px;
    top: 75px;
  }
  header #closemenumobile i {
    display: block;
  }
  header .menu {
    background: #006954;
    width: 80%;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    z-index: 10000;
    padding: 10vh 0 0 5vw;
    margin-top: 0px;
    display: none;
  }
  header .menu li {
    display: block;
    margin-bottom: 20px;
    border-bottom: 0px;
  }
  header .menu li a {
    color: #fff;
    font-size: 5vw;
  }
  header .menu li a:hover {
    color: #F0AD0A;
  }
  header .menu li.menu-item-has-children > .sub-menu {
    display: flex;
    position: static;
    background-color: transparent;
  }
  header .menu li.menu-item-has-children > .sub-menu > li {
    margin-top: 20px;
  }
  footer {
    background: #006954;
    padding: 50px 5vw 50px 5vw;
  }
  footer .content .col {
    width: 100%;
    float: none;
    margin: 0px 0px 30px 0px;
    text-align: center;
  }
  footer .content .col ul,
  footer .content .col p.footitle {
    margin-top: 20px;
  }
  .slider .slide:after {
    height: 100px;
    bottom: -5px;
  }
  .slider .slide {
    padding: 100px 0px 150px 0px;
  }
  .slider .slide p {
    max-width: 90%;
  }
  .abouthome img,
  .atuacaohome img {
    width: 40%;
    margin: 0px auto 20px auto;
    float: none;
    display: block;
  }
  .abouthome .text,
  .atuacaohome .text {
    width: 100%;
    text-align: center;
  }
  .homeblog {
    display: block;
  }
  .librarycard,
  .eventcard {
    width: 100%;
  }
  .newsletter form input[type=text],
  .newsletter form input[type=email] {
    width: 100%;
    margin-bottom: 20px;
  }
  .singlevents .destacada,
  .singlevents .text {
    width: 100%;
    margin-bottom: 30px;
  }
  .input-library {
    width: 100%;
    margin-right: 5px;
  }
  .select-library {
    position: relative;
    left: 1px;
    width: 100%;
    margin-right: 0px;
    margin-top: 10px;
  }
  .btn-form {
    width: 100%;
    margin-top: 10px;
    position: relative;
    left: 0px;
  }
  .fourofour img {
    width: 95%;
  }
  .fourofour .text {
    position: relative;
    left: 25%;
    width: 100%;
    float: right;
    padding-top: 80px;
  }
  .btn.bordergreen {
    width: 50%;
  }
}
